<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
        <nb-user
          size="giant"
          [name]="restaurant?.fullName"
          title="Restaurant"
          [picture]="restaurant?.profileImageUrl"
        >
        </nb-user>
      </nb-card-header>

      <nb-menu [items]="items"> </nb-menu>
    </nb-card>
  </div>

  <div class="col-md-9">
    <ngx-restaurant-profile
      *ngIf="currentPage === 'profile' && this.restaurant"
      [restaurant]="this.restaurant"
    ></ngx-restaurant-profile>

    <ngx-restaurant-reviews
      *ngIf="currentPage === 'reviews' && this.restaurant"
      [restaurant]="this.restaurant"
    >
    </ngx-restaurant-reviews>

    <ngx-restaurant-menu
      *ngIf="currentPage === 'menu' && this.restaurant"
      [restaurant]="this.restaurant"
    ></ngx-restaurant-menu>
  </div>
</div>
