<div class="row">
  <div class="col-md-12">
    <ngx-summary></ngx-summary>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ngx-reviews></ngx-reviews>
  </div>

  <div class="col-md-6">
    <ngx-food-created></ngx-food-created>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ngx-popularity></ngx-popularity>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ngx-intentions></ngx-intentions>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ngx-daily-intentions></ngx-daily-intentions>
  </div>
</div>
