<nb-card>
    <nb-card-header> Promotion Codes </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-md-4" *ngFor="let code of this.codes">
                <nb-card class="codes-card">
                    <nb-card-body class="d-flex flex-column align-items-center" style="min-height: 329px">
                        <p class="font-weight-bold">
                            {{ code.assignment.date }}
                        </p>

                        <p class="w-100 border-bottom text-center pb-2">
                            <strong>{{ code.assignment.schedule | titlecase }}</strong> at <strong>{{ code.restaurant }}</strong>
                        </p>

                        <p>Reserved meals:</p>

                        <div *ngFor="let meal of code.meals">
                            <div class="text-center">
                                <p>
                                    {{ meal.mealType | titlecase }}
                                </p>
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer class="text-center font-weight-bold" (click)="this.copyCodeToClipboard(code.code)" nbTooltip="Click to copy your code!">
                        <nb-icon icon="clipboard-outline"></nb-icon>
                        {{ code.code }}
                    </nb-card-footer>
                </nb-card>
            </div>

            <div class="col-12 text-center" *ngIf="this.codes?.length === 0">
                <p>At this moment you don't have valid codes</p>
            </div>
        </div>
    </nb-card-body>
</nb-card>